/**********************************************************************************
                            공통 함수에 대한 기본 설정
**********************************************************************************/
/**********************************************************************************
    공통 함수
**********************************************************************************/
$basicColor: #00afff;
@mixin basicFontSize{
    font-size:18px;
    line-height:20px;
}
@mixin removeBetween{
    font-size:0;
    line-height:0;
}
@mixin horizonCenter($w, $h) {
    position:absolute;
    left:50%;
    margin-left:-($w/2);
}
@mixin verticalCenter($w, $h) {
    position:absolute;
    top:50%;
    margin:-($h/2) 0 0 -($w/2);
}

@mixin crossBrowsing($parameter, $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}#{$parameter}: $value;
    }
}
@mixin afterClear {
    content:"";
    display:block;
    clear:both;
}
@mixin wraping{
    width:1040px;
    margin:0 auto;
}
@mixin outerWrap{
    width:1400px;
    margin:0 auto;
}
@mixin innerWrap{
    width:800px;
    margin:0 auto;
}
@mixin fontStyle($parameter, $weight, $style){
  font-family :$parameter;
  font-weight:$weight;
  @if $style{
      font-style:$style;
  }
}

@mixin boxStyle{
    border-top:1px solid $mainColor;
    border-bottom:1px solid $borderColor;
    background-color: #fff;
}

@mixin letterCut{
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap: break-word;
}

/* 공통 컬러 함수 선언 */
$mainColor: #00afff;
$borderColor: #e2e2e2;
